<ion-view class="my-background" view-title="About">
    <ion-content>
        <div class="list card">
            <div class="item item-body">
                <div style="text-align: center">
                    <img class="full-image" src="./img/purplespace.jpeg" style="width: 50%; height: 50%" />
                </div>
                
                <p style="text-align: center">
                  Developed by Damian Nolan
                <br />
                    Find me on <a href="www.github.com/damiannolan" style="text-decoration: none; color: #3B466A">Github</a>
                </p>
            </div>
        </div>
    </ion-content>
</ion-view>
